USE [master]
GO
/****** Object:  Database [FacturacionV4]    Script Date: 05/09/2024 11:41:28 ******/
CREATE DATABASE [FacturacionV4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacturacionV4', FILENAME = N'/var/opt/sqlserver/data/FacturacionV4.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FacturacionV4_log', FILENAME = N'/var/opt/sqlserver/log/FacturacionV4_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacturacionV4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacturacionV4]
GO
/****** Object:  Table [dbo].[Detallefactura]    Script Date: 05/09/2024 11:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detallefactura](
	[ID_DETALLE_FACTURA] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_FACTURA] [bigint] NOT NULL,
	[ID_PRODUCTO] [bigint] NOT NULL,
	[PRECIO_UNITARIO_DETALLE] [decimal](14, 4) NOT NULL,
	[SUBTOTAL_DETALLE] [decimal](18, 4) NOT NULL,
	[TOTAL_DETALLE] [decimal](18, 4) NOT NULL,
	[IVA_DETALLE] [decimal](5, 2) NOT NULL,
	[CANTIDAD] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_DETALLEFACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 05/09/2024 11:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID_EMPLEADO] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [bigint] NOT NULL,
	[ID_PERSONA_EMPLEADO] [bigint] NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 05/09/2024 11:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[ID_FACTURA] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_EMPLEADO] [bigint] NOT NULL,
	[ID_PERSONA] [bigint] NOT NULL,
	[FECHA_FACTURA] [datetime] NOT NULL,
	[TOTAL_FACTURA] [decimal](18, 4) NOT NULL,
	[SUBTOTAL_FACTURA] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 05/09/2024 11:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[ID_PERSONA] [bigint] IDENTITY(1,1) NOT NULL,
	[CEDULA_PERSONA] [char](13) NOT NULL,
	[NOMBRES_PERSONA] [char](100) NOT NULL,
	[APELLIDOS_PERSONA] [char](100) NOT NULL,
	[FECHA_NACIMIENTO_PERSONA] [datetime] NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 05/09/2024 11:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ID_PRODUCTO] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_PROVEEDOR] [bigint] NOT NULL,
	[NOMBRE_PRODUCTO] [char](30) NOT NULL,
	[PRECIO_UNITARIO] [decimal](14, 4) NOT NULL,
	[IVA_PRODUCTO] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 05/09/2024 11:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[ID_PROVEEDOR] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA_PROVEEDOR] [bigint] NOT NULL,
	[EMAIL] [nchar](100) NULL,
 CONSTRAINT [PK__Proveedo__8D3DFE2813D78B69] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 05/09/2024 11:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[ID_TIPO_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_USUARIO] [char](50) NOT NULL,
	[DESCRIPCION] [char](300) NOT NULL,
 CONSTRAINT [PK_TIPOUSUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 05/09/2024 11:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_USUARIO] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_USUARIO] [int] NOT NULL,
	[NOMBRE_USUARIO] [char](100) NOT NULL,
	[CONTRASENIA] [varbinary](8000) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Detallefactura] ON 

INSERT [dbo].[Detallefactura] ([ID_DETALLE_FACTURA], [ID_FACTURA], [ID_PRODUCTO], [PRECIO_UNITARIO_DETALLE], [SUBTOTAL_DETALLE], [TOTAL_DETALLE], [IVA_DETALLE], [CANTIDAD]) VALUES (1, 3, 1, CAST(1.2500 AS Decimal(14, 4)), CAST(1.2500 AS Decimal(18, 4)), CAST(1.4000 AS Decimal(18, 4)), CAST(12.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(8, 2)))
INSERT [dbo].[Detallefactura] ([ID_DETALLE_FACTURA], [ID_FACTURA], [ID_PRODUCTO], [PRECIO_UNITARIO_DETALLE], [SUBTOTAL_DETALLE], [TOTAL_DETALLE], [IVA_DETALLE], [CANTIDAD]) VALUES (2, 3, 2, CAST(1.0000 AS Decimal(14, 4)), CAST(1.0000 AS Decimal(18, 4)), CAST(1.0100 AS Decimal(18, 4)), CAST(1.00 AS Decimal(5, 2)), CAST(2.00 AS Decimal(8, 2)))
INSERT [dbo].[Detallefactura] ([ID_DETALLE_FACTURA], [ID_FACTURA], [ID_PRODUCTO], [PRECIO_UNITARIO_DETALLE], [SUBTOTAL_DETALLE], [TOTAL_DETALLE], [IVA_DETALLE], [CANTIDAD]) VALUES (3, 4, 3, CAST(5.0000 AS Decimal(14, 4)), CAST(5.0000 AS Decimal(18, 4)), CAST(5.6000 AS Decimal(18, 4)), CAST(12.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[Detallefactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([ID_EMPLEADO], [ID_USUARIO], [ID_PERSONA_EMPLEADO]) VALUES (1, 1, 1)
INSERT [dbo].[Empleado] ([ID_EMPLEADO], [ID_USUARIO], [ID_PERSONA_EMPLEADO]) VALUES (3, 5, 4)
INSERT [dbo].[Empleado] ([ID_EMPLEADO], [ID_USUARIO], [ID_PERSONA_EMPLEADO]) VALUES (5, 7, 15)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([ID_FACTURA], [ID_EMPLEADO], [ID_PERSONA], [FECHA_FACTURA], [TOTAL_FACTURA], [SUBTOTAL_FACTURA]) VALUES (3, 1, 1, CAST(N'2024-09-02T17:02:35.487' AS DateTime), CAST(2.4100 AS Decimal(18, 4)), CAST(2.2500 AS Decimal(18, 4)))
INSERT [dbo].[Factura] ([ID_FACTURA], [ID_EMPLEADO], [ID_PERSONA], [FECHA_FACTURA], [TOTAL_FACTURA], [SUBTOTAL_FACTURA]) VALUES (4, 1, 11, CAST(N'2024-09-05T06:14:20.000' AS DateTime), CAST(5.6000 AS Decimal(18, 4)), CAST(5.0000 AS Decimal(18, 4)))
INSERT [dbo].[Factura] ([ID_FACTURA], [ID_EMPLEADO], [ID_PERSONA], [FECHA_FACTURA], [TOTAL_FACTURA], [SUBTOTAL_FACTURA]) VALUES (5, 1, 7, CAST(N'2024-09-05T10:59:26.880' AS DateTime), CAST(32.7040 AS Decimal(18, 4)), CAST(29.2000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([ID_PERSONA], [CEDULA_PERSONA], [NOMBRES_PERSONA], [APELLIDOS_PERSONA], [FECHA_NACIMIENTO_PERSONA]) VALUES (1, N'1401038078   ', N'JUAN ALFREDO                                                                                        ', N'PIHUAVE VALDEZ                                                                                      ', CAST(N'2024-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Persona] ([ID_PERSONA], [CEDULA_PERSONA], [NOMBRES_PERSONA], [APELLIDOS_PERSONA], [FECHA_NACIMIENTO_PERSONA]) VALUES (2, N'1400225767   ', N'ANDRES JUAN                                                                                         ', N'PEREZ PINA                                                                                          ', NULL)
INSERT [dbo].[Persona] ([ID_PERSONA], [CEDULA_PERSONA], [NOMBRES_PERSONA], [APELLIDOS_PERSONA], [FECHA_NACIMIENTO_PERSONA]) VALUES (4, N'12345678     ', N'JHON                                                                                                ', N'LETURNE                                                                                             ', CAST(N'2024-02-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([ID_PRODUCTO], [ID_PROVEEDOR], [NOMBRE_PRODUCTO], [PRECIO_UNITARIO], [IVA_PRODUCTO]) VALUES (1, 1, N'ASADEROS                      ', CAST(2.0000 AS Decimal(14, 4)), CAST(14.00 AS Decimal(5, 2)))
INSERT [dbo].[Producto] ([ID_PRODUCTO], [ID_PROVEEDOR], [NOMBRE_PRODUCTO], [PRECIO_UNITARIO], [IVA_PRODUCTO]) VALUES (2, 5, N'ARROZ                         ', CAST(1.0000 AS Decimal(14, 4)), CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[Producto] ([ID_PRODUCTO], [ID_PROVEEDOR], [NOMBRE_PRODUCTO], [PRECIO_UNITARIO], [IVA_PRODUCTO]) VALUES (3, 1, N'CEBOLLA                       ', CAST(5.0000 AS Decimal(14, 4)), CAST(12.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([ID_PROVEEDOR], [ID_PERSONA_PROVEEDOR], [EMAIL]) VALUES (1, 1, N'juan@gmail.com                                                                                      ')
INSERT [dbo].[Proveedor] ([ID_PROVEEDOR], [ID_PERSONA_PROVEEDOR], [EMAIL]) VALUES (5, 10, N'ile@hotmail.com                                                                                     ')
INSERT [dbo].[Proveedor] ([ID_PROVEEDOR], [ID_PERSONA_PROVEEDOR], [EMAIL]) VALUES (6, 11, N'oia@gmail.com                                                                                       ')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON 

INSERT [dbo].[TipoUsuario] ([ID_TIPO_USUARIO], [TIPO_USUARIO], [DESCRIPCION]) VALUES (1, N'Administrador                                     ', N'Administrador total del sistema                                                                                                                                                                                                                                                                             ')
INSERT [dbo].[TipoUsuario] ([ID_TIPO_USUARIO], [TIPO_USUARIO], [DESCRIPCION]) VALUES (2, N'Vendedor                                          ', N'Vendedor                                                                                                                                                                                                                                                                                                    ')
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID_USUARIO], [ID_TIPO_USUARIO], [NOMBRE_USUARIO], [CONTRASENIA], [ACTIVO]) VALUES (1, 1, N'adm                                                                                                 ', 0x33F27D44FCCD21E47B66F671C256C7C41D16BC6100475B4D36494281D2BC33EC, 1)
INSERT [dbo].[Usuario] ([ID_USUARIO], [ID_TIPO_USUARIO], [NOMBRE_USUARIO], [CONTRASENIA], [ACTIVO]) VALUES (2, 1, N'maick400                                                                                            ', 0x3FDC1913391959EBACD3DFBFFAEFA8B79381C2FD22CD16BF35CAA04A440C8DB3, 1)
INSERT [dbo].[Usuario] ([ID_USUARIO], [ID_TIPO_USUARIO], [NOMBRE_USUARIO], [CONTRASENIA], [ACTIVO]) VALUES (3, 1, N'admin                                                                                               ', 0x3FDC1913391959EBACD3DFBFFAEFA8B79381C2FD22CD16BF35CAA04A440C8DB3, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 05/09/2024 11:41:29 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[Detallefactura]
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 05/09/2024 11:41:29 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[Detallefactura]
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 05/09/2024 11:41:29 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[Empleado]
(
	[ID_PERSONA_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_4_FK]    Script Date: 05/09/2024 11:41:29 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_4_FK] ON [dbo].[Factura]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 05/09/2024 11:41:29 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[Factura]
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_9_FK]    Script Date: 05/09/2024 11:41:29 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_9_FK] ON [dbo].[Usuario]
(
	[ID_TIPO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detallefactura]  WITH CHECK ADD  CONSTRAINT [FK_Detallefactura_Factura] FOREIGN KEY([ID_FACTURA])
REFERENCES [dbo].[Factura] ([ID_FACTURA])
GO
ALTER TABLE [dbo].[Detallefactura] CHECK CONSTRAINT [FK_Detallefactura_Factura]
GO
ALTER TABLE [dbo].[Detallefactura]  WITH CHECK ADD  CONSTRAINT [FK_Detallefactura_Producto] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[Producto] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[Detallefactura] CHECK CONSTRAINT [FK_Detallefactura_Producto]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Persona] FOREIGN KEY([ID_PERSONA_EMPLEADO])
REFERENCES [dbo].[Persona] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Persona]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Usuario] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[Usuario] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Usuario]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Empleado] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[Empleado] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Empleado]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[Proveedor] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Proveedor]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Persona] FOREIGN KEY([ID_PERSONA_PROVEEDOR])
REFERENCES [dbo].[Persona] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_Persona]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([ID_TIPO_USUARIO])
REFERENCES [dbo].[TipoUsuario] ([ID_TIPO_USUARIO])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_producto]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[sp_buscar_producto]
@texto_buscar varchar(30)
as 
begin
	Select 
p.id_producto as id, rtrim(p.nombre_producto) as nombre, p.ID_PROVEEDOR as id_proveedor,

		p.precio_unitario as precio_unitario, p.iva_producto as iva
		from Producto p
	where rtrim(nombre_producto) like trim(@texto_buscar) + '%' 
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_desactivar_usuario]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[sp_desactivar_usuario]
@id_usuario nchar(10),
@estado tinyint output
as
begin
    --Verificar que el usuario sea único
    IF NOT EXISTS(SELECT 1 FROM Usuario WHERE id_usuario = @id_usuario)
    BEGIN		
        set @estado = 1;
		return;
    END;
   
   
   update Usuario set activo=0 where id_usuario=@id_usuario;
   
   set @estado = 0;

end;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_cliente]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[sp_eliminar_cliente]
	@id_cliente nchar(10),
	@estado tinyint output
as
begin
	begin try 
		Delete from Persona where rtrim(id_persona) = @id_cliente;
		set @estado = 0;
	end try
	begin catch
		set @estado = 1;
	end catch
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_empleado]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[sp_eliminar_empleado]
	@id_empleado bigint,
	@estado tinyint output
as
begin
	declare @id_usuario bigint;

	Select 
		@id_usuario = id_usuario
	from Empleado;
	begin transaction 
		begin try 
			Delete from Empleado where id_empleado = @id_empleado;
			Delete from Usuario 
				where id_usuario = @id_usuario
			set @estado = 0;
			commit transaction;
		end try
		begin catch
			set @estado = 1;
			rollback transaction;
		end catch
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_factura]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[sp_eliminar_factura]
	@id_factura bigint,
	@estado tinyint output
as
begin
	begin try 
		Delete from Detallefactura where id_factura = @id_factura;
		Delete from Factura where id_factura = @id_factura;
		set @estado = 0;
	end try
	begin catch
		set @estado = 1;
	end catch
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_producto]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[sp_eliminar_producto]
	@id_producto nchar(10),
	@estado tinyint output
as
begin
	begin try 
		Delete from Producto where id_producto = @id_producto;
		set @estado = 0;
	end try
	begin catch
		set @estado = 1;
	end catch
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_proveedor]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[sp_eliminar_proveedor]
	@id_proveedor nchar(10),
	@estado tinyint output
as
begin
	begin try 
		if  exists (select 1 from Producto where ID_PROVEEDOR = @id_proveedor)
			begin 
				set @estado = 1
				return
			end
		Delete from Proveedor where rtrim(ID_PROVEEDOR) = @id_proveedor;
		set @estado = 0;
	end try
	begin catch
		set @estado = 1;
	end catch
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_cliente]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[sp_get_cliente]
@id_cliente bigint
as
begin
	/*
	exec [sp_get_cliente] 1
	*/
	Select 
		c.ID_PERSONA, c.CEDULA_PERSONA,
		rtrim(c.APELLIDOS_PERSONA) as apellidos, rtrim(c.NOMBRES_PERSONA) as nombres
	from Persona as c
	where c.ID_PERSONA = @id_cliente
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_cliente_por_cedula]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create      procedure [dbo].[sp_get_cliente_por_cedula]
@cedula_cliente char(10)
as
begin
	/*
	exec [dbo].[sp_get_cliente_por_cedula]  '1401038078'
	*/
	Select 
		c.ID_PERSONA, c.CEDULA_PERSONA,
		rtrim(c.APELLIDOS_PERSONA) as apellidos, rtrim(c.NOMBRES_PERSONA) as nombres
	from Persona as c
	where c.CEDULA_PERSONA = @cedula_cliente
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_empleado]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       procedure [dbo].[sp_get_empleado]
	@id_empleado bigint
as
begin

	/*
	exec sp_get_empleado  1	
	*/
	Select 
		e.id_empleado, p.CEDULA_PERSONA,
		rtrim(p.APELLIDOS_PERSONA) as apellidos_empleado, rtrim(p.NOMBRES_PERSONA) as nombres_empleado,
		p.FECHA_NACIMIENTO_PERSONA
	from 
		Empleado as e 
			inner join persona p 
				on p.ID_PERSONA =  e.ID_PERSONA_EMPLEADO
				
	where e.id_empleado = @id_empleado;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_empleado_por_cedula]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       procedure [dbo].[sp_get_empleado_por_cedula]
	@cedula_empleado char(10)
as
begin

	/*
	exec sp_get_empleado_por_cedula  1	
	*/
	Select 
		e.id_empleado, p.CEDULA_PERSONA,
		rtrim(p.APELLIDOS_PERSONA) as apellidos_empleado, rtrim(p.NOMBRES_PERSONA) as nombres_empleado,
		p.FECHA_NACIMIENTO_PERSONA
	from 
		Empleado as e 
			inner join persona p 
				on p.ID_PERSONA =  e.ID_PERSONA_EMPLEADO
				
	where p.CEDULA_PERSONA = @cedula_empleado;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_empleado_usuario]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       procedure [dbo].[sp_get_empleado_usuario]
	@id_empleado bigint
as
begin
		/*
		exec FacturacionV3.[dbo].[sp_get_empleado_usuario] 1
		exec FacturacionV4.[dbo].[sp_get_empleado_usuario] 1

		*/
	Select 
		--Datos del empleado
		e.id_empleado, p.CEDULA_PERSONA as cedula_empleado,
		rtrim(p.APELLIDOS_PERSONA) as apellidos_empleado, rtrim(p.NOMBRES_PERSONA) as nombres_empleado,
		p.FECHA_NACIMIENTO_PERSONA AS fecha_naciemiento_empleado,

		--Datos del usuario asociado
		u.id_usuario, rtrim(u.nombre_usuario), u.activo,

		--Tipo de usuario
		tu.id_tipo_usuario, rtrim(tu.tipo_usuario), rtrim(tu.descripcion)
	from 
		Empleado as e
		left join Usuario as u on e.id_usuario = u.id_usuario
		inner join TipoUsuario as tu on tu.id_tipo_usuario = u.id_tipo_usuario
		inner join  Persona as p on p.ID_PERSONA =  e.ID_PERSONA_EMPLEADO 
	where e.id_empleado = @id_empleado;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_empleado_usuario_por_nombre_user]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create           procedure [dbo].[sp_get_empleado_usuario_por_nombre_user]
	@usuario varchar(100)
as
begin
	Select 
		--Datos del empleado
		e.id_empleado, p.CEDULA_PERSONA as cedula_empleado,
		rtrim(p.APELLIDOS_PERSONA) as apellidos_empleado, rtrim(p.NOMBRES_PERSONA) as nombres_empleado,
		p.FECHA_NACIMIENTO_PERSONA AS fecha_naciemiento_emp,

		--Datos del usuario asociado
		u.id_usuario, rtrim(u.nombre_usuario), u.activo,

		--Tipo de usuario
		tu.id_tipo_usuario, rtrim(tu.tipo_usuario), rtrim(tu.descripcion)
	from 
		Empleado as e
		left join Usuario as u on e.id_usuario = u.id_usuario
		inner join TipoUsuario as tu on tu.id_tipo_usuario = u.id_tipo_usuario
		inner join  Persona as p on p.ID_PERSONA =  e.ID_PERSONA_EMPLEADO 

	where trim(u.NOMBRE_USUARIO )= @usuario;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_empleado_usuario_por_usuario]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create          procedure [dbo].[sp_get_empleado_usuario_por_usuario]
	@id_usuario bigint
as
begin
	Select 
		--Datos del empleado
		e.id_empleado, p.CEDULA_PERSONA as cedula_empleado,
		rtrim(p.APELLIDOS_PERSONA) as apellidos_empleado, rtrim(p.NOMBRES_PERSONA) as nombres_empleado,
		p.FECHA_NACIMIENTO_PERSONA AS fecha_naciemiento_emp,

		--Datos del usuario asociado
		u.id_usuario, rtrim(u.nombre_usuario), u.activo,

		--Tipo de usuario
		tu.id_tipo_usuario, rtrim(tu.tipo_usuario), rtrim(tu.descripcion)
	from 
		Empleado as e
		left join Usuario as u on e.id_usuario = u.id_usuario
		inner join TipoUsuario as tu on tu.id_tipo_usuario = u.id_tipo_usuario
		inner join  Persona as p on p.ID_PERSONA =  e.ID_PERSONA_EMPLEADO 

	where u.id_usuario = @id_usuario;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_factura]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       procedure [dbo].[sp_get_factura]
    @id_factura int
as
begin
    
	SELECT             
        f.id_factura AS 'Id_factura', 
        c.CEDULA_PERSONA AS 'Cedula_cliente',
        RTRIM(c.APELLIDOS_PERSONA) as 'Apellidos_cliente', 
        RTRIM(c.NOMBRES_PERSONA) as 'Nombres_cliente',
		RTRIM(v.APELLIDOS_PERSONA) as 'Apellidos_empleado', 
        RTRIM(v.APELLIDOS_PERSONA) as 'Nombres_empleado',
        convert(date, f.fecha_factura) AS 'Fecha', 
        convert(decimal, f.subtotal_factura) AS 'Subtotal', 
        f.total_factura AS 'Total',

		df.id_detalle_factura AS 'Id_factura_detalle',
        df.id_producto AS 'Id_producto',
        RTRIM(p.nombre_producto) as 'Nombre_producto',
		df.precio_unitario_detalle as 'Precio_unitario',
        (df.precio_unitario_detalle + (df.precio_unitario_detalle * df.iva_detalle/100)) AS 'Precio',
        df.cantidad AS 'Cantidad'
    FROM Factura as f
		INNER JOIN Persona as c ON f.ID_PERSONA = c.ID_PERSONA
		INNER JOIN Empleado as e ON f.id_empleado = e.id_empleado
		INNER JOIN Detallefactura as df on df.id_factura = f.id_factura
		INNER JOIN Producto as p ON df.id_producto = p.id_producto
		INNER JOIN Persona as v ON e.ID_PERSONA_EMPLEADO = v.ID_PERSONA

    WHERE f.id_factura = @id_factura
	GROUP BY f.id_factura, c.CEDULA_PERSONA, c.APELLIDOS_PERSONA, c.NOMBRES_PERSONA, v.APELLIDOS_PERSONA, v.NOMBRES_PERSONA,
		f.fecha_factura, f.subtotal_factura, f.total_factura, df.id_detalle_factura, df.id_detalle_factura, 
		df.id_producto, p.nombre_producto, df.cantidad, df.total_detalle, df.iva_detalle, df.precio_unitario_detalle
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_producto]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[sp_get_producto]
@id_producto bigint
as 
begin
	Select
p.id_producto as id, rtrim(p.nombre_producto) as nombre, p.ID_PROVEEDOR as id_proveedor,

		p.precio_unitario as precio_unitario, p.iva_producto as iva
		from Producto p 
	where id_producto = @id_producto
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_proveedor]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[sp_get_proveedor]
@id_proveedor bigint
as 
begin
	Select 
			e.id_proveedor as id, p.CEDULA_PERSONA as cedula,
		rtrim(p.APELLIDOS_PERSONA) as apellidos, rtrim(p.NOMBRES_PERSONA) as nombres, e.email as email
	from Proveedor as e
	inner join Persona  as p on p.ID_PERSONA = e.ID_PERSONA_PROVEEDOR  
	where id_proveedor = @id_proveedor
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_proveedor_por_cedula]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     procedure [dbo].[sp_get_proveedor_por_cedula]
@cedula bigint
as 
begin
	Select 
			e.id_proveedor as ID, p.CEDULA_PERSONA as cedula,
		rtrim(p.APELLIDOS_PERSONA) as Apellidos, rtrim(p.NOMBRES_PERSONA) as Nombres, e.email as Email
	from Proveedor as e
	inner join Persona  as p on p.ID_PERSONA = e.ID_PERSONA_PROVEEDOR  
	where p.CEDULA_PERSONA= @cedula
	
	end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_usuario]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[sp_get_usuario]
	@id_usuario bigint
as
begin
	Select 
		u.id_usuario, 
		u.id_tipo_usuario,
		rtrim(tu.tipo_usuario),
		rtrim(tu.descripcion),
		rtrim(u.nombre_usuario), 
		u.activo
	from Usuario as u 
		inner join TipoUsuario as tu on u.id_tipo_usuario = tu.id_tipo_usuario
	where u.id_usuario = @id_usuario;
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_cliente]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_insertar_cliente]
    @xml_cliente XML,
	@estado tinyint output
AS
BEGIN
    --Declaración de variables
    DECLARE @cedula NCHAR(10), @nombres NCHAR(100), @apellidos NCHAR(100);
	DECLARE @id_cliente bigint;
    
    --Asignación de valores del xml a las variables previamente declaradas
    SELECT
        @cedula = Cliente.value('(Cedula_cliente/text())[1]', 'NCHAR(10)'),
        @nombres = Cliente.value('(Nombres/text())[1]', 'NCHAR(100)'),
        @apellidos = Cliente.value('(Apellidos/text())[1]', 'NCHAR(100)')
    FROM
        @xml_cliente.nodes('Cliente') AS T(Cliente);

    --Verificar que la identificación del cliente sea única
    IF EXISTS(SELECT 1 FROM Persona WHERE CEDULA_PERSONA = @cedula)
    BEGIN		
        set @estado = 1;
		return;
    END;

    --Insertar los datos del cliente desde el XML
    INSERT INTO Persona(CEDULA_PERSONA, NOMBRES_PERSONA , APELLIDOS_PERSONA)
    SELECT @cedula, UPPER(@nombres), UPPER(@apellidos);

    --Establecer el estado cero que es el que indica que no hay errores
    set @estado = 0;

	--Establecer el id del cliente recién ingresado
	set @id_cliente = SCOPE_IDENTITY();
	
	Select 
		ID_PERSONA as Id_cliente, rtrim(NOMBRES_PERSONA) as Nombres, rtrim(APELLIDOS_PERSONA) as Apellidos
	from Persona
	where ID_PERSONA = @id_cliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_empleado]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE    PROCEDURE [dbo].[sp_insertar_empleado]
    @xml_empleado XML,
	@xml_usuario XML,
	@estado tinyint output
AS
BEGIN
	--exec  [dbo].[sp_insertar_empleado] '<Empleado> <Cedula>12345678</Cedula> <Nombres>Jhon</Nombres> <Apellidos>Leturne </Apellidos> <Fecha_nacimiento>20240203</Fecha_nacimiento> </Empleado>', '<Usuario> <Tipo_usuario>1</Tipo_usuario> <Usuario>user</Usuario> <Contrasenia>user</Contrasenia> </Usuario>', 0
	--Declaración de variables
	DECLARE @id_empleado bigint;
	DECLARE @id_persona bigint; 
	DECLARE @id_usuario bigint;
	DECLARE @cedula_usuario nchar(10);
    DECLARE @nombres_usuario NCHAR(100), @apellidos_usuario NCHAR(100);
	DECLARE @fecha_nacimiento datetime;
	DECLARE @id_tipo_usuario int, @usuario nchar(100), @contrasenia nchar(300);

	BEGIN TRY
	BEGIN TRANSACTION
		--Asignación de valores del xml a las variables previamente declaradas
		SELECT
			@cedula_usuario = Empleado.value('(Cedula/text())[1]', 'NCHAR(10)'),
			@nombres_usuario = Empleado.value('(Nombres/text())[1]', 'NCHAR(100)'),
			@apellidos_usuario = Empleado.value('(Apellidos/text())[1]', 'NCHAR(100)'),
			@fecha_nacimiento = Empleado.value('(Fecha_nacimiento/text())[1]', 'DateTime')
		FROM
			@xml_empleado.nodes('Empleado') AS T(Empleado);

		SELECT		
			@id_tipo_usuario = Usuario.value('(Tipo_usuario/text())[1]', 'INTEGER'),
			@usuario = Usuario.value('(Usuario/text())[1]', 'NCHAR(100)'),
			@contrasenia = Usuario.value('(Contrasenia/text())[1]', 'NCHAR(300)')
		FROM
			@xml_usuario.nodes('Usuario') AS T(Usuario);

		--Obtener el id de la persona si es que existe
		Select @id_persona = p.ID_PERSONA
		from Persona as p
		where p.CEDULA_PERSONA = @cedula_usuario

		--Verificar que la cédula del empleado sea única
		IF EXISTS(SELECT * FROM Empleado as e inner join  Persona  p on p.ID_PERSONA = e.ID_PERSONA_EMPLEADO WHERE p.CEDULA_PERSONA = @cedula_usuario)
		--IF EXISTS(SELECT * FROM Persona  p WHERE p.CEDULA_PERSONA = @cedula_usuario)
		BEGIN		
			set @estado = 2;
			commit transaction;
			return;
		END;

		--Verificar que el nombre usuario sea único
		IF EXISTS(SELECT * FROM Usuario WHERE nombre_usuario = @usuario)
		BEGIN		
			set @estado = 3;
			commit transaction;
			return;
		END;

		--Insertar los datos del usuario desde el XML
		Insert into Usuario (
			id_tipo_usuario,
			nombre_usuario, contrasenia,
			activo		
		) values(
			@id_tipo_usuario,
			@usuario,		
			HASHBYTES('SHA2_256', CONVERT(varbinary(255), @contrasenia)),
			'true'
		);

		--Obtener el id del empleado recién insertado
		set @id_usuario = SCOPE_IDENTITY();
		
		--Sí no se insertó el cliente, entonces finalizar el procedimiento
		IF @id_usuario is null
		BEGIN
			set @estado = 4;
			rollback transaction;
			return;
		END;

		--Verificar si ya existe la persona o se debe ingresar
		if (@id_persona is null) begin
			insert into  Persona(		
				CEDULA_PERSONA, 
				APELLIDOS_PERSONA, 
				NOMBRES_PERSONA, 
				FECHA_NACIMIENTO_PERSONA		
			)values(
				@cedula_usuario,
				UPPER(@apellidos_usuario),
				UPPER(@nombres_usuario), 
				@fecha_nacimiento
			);

			set @id_persona = SCOPE_IDENTITY();
		end;
			
		--Insertar el empleado
		Insert into Empleado (
			id_usuario,
			ID_PERSONA_EMPLEADO
		) values (
			@id_usuario,
			@id_persona		
		);	
		
		--Establecer el estado cero que es el que indica que no hay errores
		commit transaction;
		set @estado = 0;
	END TRY
	BEGIN CATCH
		PRINT 'Error : ' + ERROR_MESSAGE();

		IF @@TRANCOUNT > 0
			set @estado = 1;
			rollback transaction;
	END CATCH		
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_factura]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[sp_insertar_factura]
	 @xml_factura XML,
	 @estado tinyint output,
	 @id_factura bigint output
as
begin

/*
declare @res int , @est int 
exec [dbo].[sp_insertar_factura] 

'
<Factura> <Id_cliente>1</Id_cliente> <Id_empleado>1</Id_empleado> <Fatura_Detalle> <Detalle> <Id_producto>1</Id_producto> <Cantidad>1</Cantidad> </Detalle> <Detalle> <Id_producto>2</Id_producto> <Cantidad>1</Cantidad> </Detalle> </Fatura_Detalle> </Factura>
',
0 , 
0
*/


begin transaction FacturaTrans
	--begin try
		--insertar datos del producto desde XML
		Insert into Factura (ID_PERSONA, id_empleado, subtotal_factura, total_factura, fecha_factura)
		Select
			Factura.value('(Id_cliente/text())[1]', 'BIGINT') AS id_cliente,
			Factura.value('(Id_empleado/text())[1]', 'NCHAR(10)') AS id_empleado,
			0 as subtotal,--Factura.value('(Subtotal/text())[1]', 'DECIMAL(14, 4)') AS subtotal,
			0 as total,--Factura.value('(Total/text())[1]', 'DECIMAL(14, 4)') AS as total
			GETDATE()
		from @xml_factura.nodes('Factura') as T(Factura);

		--Obtener el id de la factura ingresada
		set @id_factura = SCOPE_IDENTITY();
		Select
			@id_factura,
			Detalle.value('(Id_producto/text())[1]', 'BIGINT') AS id_producto,
			Detalle.value('(Cantidad/text())[1]', 'DECIMAL(8, 2)') AS cantidad
		from @xml_factura.nodes('Factura/Factura_Detalle/Detalle') as T(Detalle);
		Insert into DetalleFactura (id_factura, id_producto, cantidad)
		Select
			@id_factura,
			Detalle.value('(Id_producto/text())[1]', 'BIGINT') AS id_producto,
			Detalle.value('(Cantidad/text())[1]', 'DECIMAL(8, 2)') AS cantidad
		from @xml_factura.nodes('Factura/Factura_Detalle/Detalle') as T(Detalle);
	
		--Estado cero para indicar que no ocurrió ningún error
		set @estado = 0;
		commit transaction FacturaTrans;
	/*end try
	begin catch
		rollback transaction FacturaTrans;
		set @estado = 1;
	end catch	*/
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_producto]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   procedure [dbo].[sp_insertar_producto]
	 @xml_producto XML,
	 @estado tinyint output
as
begin
	
	DECLARE @nombre_producto nchar(30), @precio_unitario decimal(14,4), @iva decimal(5,2), @id_proveedor bigint;
	
	Select
		@nombre_producto=Producto.value('(Nombre_producto/text())[1]', 'NCHAR(30)'),
		@precio_unitario=Producto.value('(Precio_unitario/text())[1]', 'DECIMAL(14,4)'),
		@id_proveedor=Producto.value('(Proveedor/text())[1]', 'bigint'),

		@iva=Producto.value('(Iva/text())[1]', 'DECIMAL(5,2)')
	from @xml_producto.nodes('Producto') as T(Producto);

	if @nombre_producto=''
	begin
		set @estado=1;
		return
	end
	
	if @iva>100
	begin
		set @estado=2;
		return
	end

	--insertar datos del producto desde XML
	Insert into Producto (nombre_producto, precio_unitario,iva_producto, ID_PROVEEDOR)
	values(UPPER(@nombre_producto), @precio_unitario, @iva, @id_proveedor)

	set @estado = 0;

end;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_proveedor]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[sp_insertar_proveedor]
    @xml_proveedor XML,
	@estado tinyint output
AS
BEGIN
		/*
		declare  @resultado  int 
		exec sp_insertar_proveedor  
		'<Proveedor> <Cedula_cliente>1401038079</Cedula_cliente> <Nombres>Juan Pihuave</Nombres> <Apellidos>Jhon</Apellidos> <Email>jhon@hotmail.com</Email> </Proveedor>',
		@resultado output 
		select @resultado
		*/
    --Declaración de variables
    DECLARE @cedula NCHAR(13), @nombres NCHAR(100), @apellidos NCHAR(100), @email nchar(100);
	DECLARE @id_cliente bigint, @id_persona bigint;
    
    --Asignación de valores del xml a las variables previamente declaradas
    SELECT
        @cedula = Cliente.value('(Cedula_proveedor/text())[1]', 'NCHAR(13)'),
        @nombres = Cliente.value('(Nombres/text())[1]', 'NCHAR(100)'),
        @apellidos = Cliente.value('(Apellidos/text())[1]', 'NCHAR(100)'),
		@email = Cliente.value('(Email/text())[1]', 'NCHAR(100)')

    FROM
        @xml_proveedor.nodes('Proveedor') AS T(Cliente);

	--Obtener el id de la persona si es que existe
	Select @id_persona = p.ID_PERSONA
	from Persona as p
	where p.CEDULA_PERSONA = @cedula

    --Verificar que la identificación del cliente sea única
    IF EXISTS(SELECT 1 FROM Persona p inner join Proveedor e on e.ID_PERSONA_PROVEEDOR = p.ID_PERSONA  WHERE p.CEDULA_PERSONA = @cedula)
    BEGIN		
        set @estado = 1;
		return;
    END;

--Verificar si ya existe la persona o se debe ingresar
	if (@id_persona is null) begin
		insert into persona (
			CEDULA_PERSONA, 
			NOMBRES_PERSONA, 
			APELLIDOS_PERSONA
		) values(
			@cedula, 
			upper(@nombres), 
			upper(@apellidos)
		);

		set @id_persona = SCOPE_IDENTITY();
	end;

    --Insertar los datos del cliente desde el XML
    INSERT INTO Proveedor(ID_PERSONA_PROVEEDOR,  email)
    SELECT @id_persona,  LOWER(@email);

    --Establecer el estado cero que es el que indica que no hay errores
    set @estado = 0;

	--Establecer el id del cliente recién ingresado
	set @id_cliente = SCOPE_IDENTITY();
	
	Select 
			e.id_proveedor as ID, p.CEDULA_PERSONA as cedula,
		rtrim(p.APELLIDOS_PERSONA) as Apellidos, rtrim(p.NOMBRES_PERSONA) as Nombres, e.email as Email
	from Proveedor as e inner join  Persona  as p on p.ID_PERSONA = e.ID_PERSONA_PROVEEDOR
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_clientes]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[sp_listar_clientes]
as
begin
	Select c.ID_PERSONA as id_cliente, c.NOMBRES_PERSONA as  nombres_cliente,c.APELLIDOS_PERSONA as  apellidos_cliente
	from Persona as c 
	order by APELLIDOS_PERSONA,NOMBRES_PERSONA
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_facturas]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[sp_listar_facturas]
as
begin
	--Listar los campos requeridos de la tabla Factura
	--en conjunto a los de cliente.
	Select 
		f.id_factura, 
		f.ID_PERSONA AS  id_cliente, RTRIM(c.APELLIDOS_PERSONA) as apellidos, RTRIM(c.NOMBRES_PERSONA) as nombre,
		f.subtotal_factura as subtotal, f.total_factura as total
	from Factura as f
		inner join Persona as c on f.ID_PERSONA = c.ID_PERSONA
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_tipo_usuarios]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[sp_listar_tipo_usuarios]
as
begin
	Select id_tipo_usuario, tipo_usuario, descripcion
	from TipoUsuario
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_login]
    @nombre_usuario nchar(100),
	@contrasenia nchar(300),
	@estado tinyint output	
AS
BEGIN	
	set @estado = 0;

	--Buscar aquel usuario que coincida con el usuario y contraseña ingresada
	IF EXISTS(
		Select *
		from 
			Usuario as u 
		where u.nombre_usuario = @nombre_usuario
			and u.contrasenia = HASHBYTES('SHA2_256', CONVERT(varbinary(255), @contrasenia))
	) 
	BEGIN
		set @estado = 1;
	END;
   
    return @estado;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_login_get_usuario]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[sp_login_get_usuario]
    @nombre_usuario nchar(100),
	@contrasenia nchar(300),
	@estado tinyint output,
	@id_usuario bigint output
AS
BEGIN
	declare @usuario_activo bit;

	--Buscar aquel usuario que coincida con el usuario y contraseña ingresada
	Select 
		@id_usuario = u.id_usuario,
		@usuario_activo = u.activo
	from 
		Usuario as u 
	where u.nombre_usuario = @nombre_usuario
		and u.contrasenia = HASHBYTES('SHA2_256', CONVERT(varbinary(255), @contrasenia));
   
   --Verificar que las variables tengan un valor diferente de nulo (algún registro coincide)
   if (@id_usuario is null) begin
		set @estado = 1;
		return;
   end;

   --En caso de que, el usuario no esté activo retornar el estado correspondiente
    if (@usuario_activo = 0) begin
		set @estado = 2;
		return;
	end;

   set @estado = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_modificar_cliente]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_modificar_cliente]
	@xml_cliente xml,
	@estado tinyint output
as
begin
	DECLARE @id_cliente bigint;
	DECLARE @cedula_cliente char(10);
	DECLARE @nombres nchar(100), @apellidos nchar(100);

	Select
		@id_cliente = Cliente.value('(Id_cliente/text())[1]', 'BIGINT'),
		@cedula_cliente = Cliente.value('(Cedula_cliente/text())[1]', 'NCHAR(10)'),
		@nombres = Cliente.value('(Nombres/text())[1]', 'NCHAR(100)'),
		@apellidos = Cliente.value('(Apellidos/text())[1]', 'NCHAR(100)')
	from
		@xml_cliente.nodes('Cliente') AS T(Cliente);


	--Verificar que la cédula sea única
	IF EXISTS(SELECT * FROM Persona WHERE CEDULA_PERSONA = @cedula_cliente and ID_PERSONA <> @id_cliente)
	BEGIN		
		set @estado = 1;
		return;
	END;

	Update Persona 
	set
		CEDULA_PERSONA = @cedula_cliente,
		APELLIDOS_PERSONA= UPPER(@apellidos),
		NOMBRES_PERSONA = UPPER(@nombres)
	where ID_PERSONA = @id_cliente

	set @estado = 0;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_modificar_empleado]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_modificar_empleado]
    @xml_empleado XML,
	@xml_usuario XML,
	@estado tinyint output
AS
BEGIN
	--Declaración de variables
	DECLARE @id_empleado bigint;
	DECLARE @id_usuario bigint;
	DECLARE @id_persona bigint;

	DECLARE @cedula_usuario nchar(10);
    DECLARE @nombres_usuario NCHAR(100), @apellidos_usuario NCHAR(100);
	DECLARE @fecha_nacimiento datetime;

	--Variables de usuario
	DECLARE @id_tipo_usuario int, @usuario nchar(100), @contrasenia nchar(300);
	DECLARE @activo bit;

	BEGIN TRY
	BEGIN TRANSACTION
		--Asignación de valores del xml a las variables previamente declaradas
		SELECT
			@id_empleado = Empleado.value('(Id_empleado/text())[1]', 'BIGINT'),
			@cedula_usuario = Empleado.value('(Cedula/text())[1]', 'NCHAR(10)'),
			@nombres_usuario = Empleado.value('(Nombres/text())[1]', 'NCHAR(100)'),
			@apellidos_usuario = Empleado.value('(Apellidos/text())[1]', 'NCHAR(100)'),
			@fecha_nacimiento = Empleado.value('(Fecha_nacimiento/text())[1]', 'DateTime')
		FROM
			@xml_empleado.nodes('Empleado') AS T(Empleado);

		SELECT		
			@id_tipo_usuario = Usuario.value('(Tipo_usuario/text())[1]', 'INTEGER'),
			@usuario = Usuario.value('(Usuario/text())[1]', 'NCHAR(100)'),
			@contrasenia = Usuario.value('(Contrasenia/text())[1]', 'NCHAR(300)'),
			@activo = Usuario.value('(Activo/text())[1]', 'BIT')
		FROM
			@xml_usuario.nodes('Usuario') AS T(Usuario);

		--Verificar que la contrasenia coincida con la del usuario a modificar
		Select 
			@id_usuario = u.id_usuario
		from 
			Usuario as u 
		where u.nombre_usuario = @usuario
			and u.contrasenia = HASHBYTES('SHA2_256', CONVERT(varbinary(255), @contrasenia));
		
		IF @id_usuario is null BEGIN
			set @estado = 2;
			commit transaction;
			return;
		END;

		--Verificar que la cédula del empleado sea única
		--para eso ignorar el registor actual
		IF EXISTS(SELECT * FROM Empleado  as e inner join Persona p on p.ID_PERSONA = e.ID_PERSONA_EMPLEADO
		
		WHERE p.CEDULA_PERSONA = @cedula_usuario and id_empleado <> @id_empleado)
		BEGIN		
			set @estado = 3;
			commit transaction;
			return;
		END;

		--Verificar que el nombre usuario sea único
		IF EXISTS(SELECT * FROM Usuario WHERE nombre_usuario = @usuario and id_usuario <> @id_usuario)
		BEGIN		
			set @estado = 4;
			commit transaction;
			return;
		END;

		--Actualizar los datos del usuario
		Update Usuario 
		set 
			id_tipo_usuario = @id_tipo_usuario,
			nombre_usuario = @usuario,
			activo = @activo
		where id_usuario = @id_usuario;

		--Obtener persona
		select @id_persona = p.ID_PERSONA from Empleado e  inner join  persona p on p.ID_PERSONA = e.ID_PERSONA_EMPLEADO   
		where ID_EMPLEADO = @id_empleado 

		--Actualizar los datos del empleado
		Update Persona
		set
			CEDULA_PERSONA = @cedula_usuario,
			NOMBRES_PERSONA = UPPER(@nombres_usuario),
			APELLIDOS_PERSONA = UPPER(@apellidos_usuario),
			FECHA_NACIMIENTO_PERSONA = @fecha_nacimiento
		where ID_PERSONA = @id_persona;
		
		--Establecer el estado cero que es el que indica que no hay errores
		commit transaction;
		set @estado = 0;
	END TRY
	BEGIN CATCH
		PRINT 'Error : ' + ERROR_MESSAGE();

		IF @@TRANCOUNT > 0
			set @estado = 1;
			rollback transaction;
	END CATCH		
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_modificar_producto]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[sp_modificar_producto]
	 @xml_producto XML,
	 @estado tinyint output
as
begin
	--Actualizar datos del producto desde XML

	Update Producto 
	set 
	Producto.nombre_producto = xp.nombreproducto,
	Producto.precio_unitario = xp.preciounitario,
	Producto.ID_PROVEEDOR = xp.proveedor,
	Producto.iva_producto = xp.iva
	from 
	(
		Select
        Producto.value('(Id_producto/text())[1]', 'BIGINT') AS idproducto,
		UPPER(Producto.value('(Nombre_producto/text())[1]', 'NCHAR(30)')) AS nombreproducto,
		Producto.value('(Proveedor/text())[1]', 'bigint') AS proveedor,

		Producto.value('(Precio_unitario/text())[1]', 'DECIMAL(14,4)') AS preciounitario,
		Producto.value('(Iva/text())[1]', 'DECIMAL(5,2)') AS iva
		from  @xml_producto.nodes('Producto') AS T(Producto)

	) as xp
	where Producto.id_producto=xp.idproducto

	set @estado = 0;
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_modificar_proveedor]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   procedure [dbo].[sp_modificar_proveedor]
	@xml_proveedor xml,
	@estado tinyint output
as
begin
/*
		declare  @resultado  int 
		exec [sp_modificar_proveedor]  
		'<Proveedor> 
			<Id_proveedor>3</Id_proveedor>
			<Cedula_proveedor>1400225700</Cedula_proveedor> 
			<Nombres>Miguel Angel</Nombres> 
			<Apellidos>Pineda Perez</Apellidos> 
			<Email>mp@hotmail.com</Email> 
		</Proveedor>	
		',
		@resultado output 
		select @resultado
		*/
	DECLARE @id_proveedor bigint;
	DECLARE @id_persona bigint;

	DECLARE @cedula nchar(13);
	DECLARE @nombres nchar(100), @apellidos nchar(100), @email nchar (100);

	--Asignación de valores del xml a las variables previamente declaradas
    SELECT
		@id_proveedor = Cliente.value('(Id_proveedor/text())[1]', 'BIGINT'),
        @cedula = Cliente.value('(Cedula_proveedor/text())[1]', 'NCHAR(13)'),
        @nombres = Cliente.value('(Nombres/text())[1]', 'NCHAR(100)'),
        @apellidos = Cliente.value('(Apellidos/text())[1]', 'NCHAR(100)'),
		@email = Cliente.value('(Email/text())[1]', 'NCHAR(100)')

    FROM
        @xml_proveedor.nodes('Proveedor') AS T(Cliente);

	--obtener el id de la persona   
	select @id_persona = ID_PERSONA_PROVEEDOR from Proveedor where ID_PROVEEDOR = @id_proveedor


    --Verificar que la identificación del cliente sea única
  --  IF EXISTS(SELECT 1 FROM Persona WHERE CEDULA_PERSONA = @cedula and ID_PERSONA = @id_persona)
  --  BEGIN		
  --      set @estado = 1;
		--return;
  --  END;


	--ACTUALIZAR PROVEEOR
	Update Proveedor 
	set
		email = lower(@email)
	where id_proveedor = @id_proveedor
	--ACTUALIZAR PERSONA 
	update Persona set 
		CEDULA_PERSONA = UPPER (@cedula), 
		NOMBRES_PERSONA = UPPER(@nombres), 
		APELLIDOS_PERSONA = UPPER(@apellidos)
	WHERE ID_PERSONA = @id_persona



	set @estado = 0;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_modificar_usuario_contrasenia]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_modificar_usuario_contrasenia]
    @nombre_usuario nchar(100),
	@contrasenia_actual nchar(300),
	@contrasenia_nueva nchar(300),
	@estado tinyint output
AS
BEGIN      
    --Verificar que el usuario sea único
	IF NOT EXISTS(
		SELECT * 
		FROM Usuario 
		WHERE nombre_usuario = @nombre_usuario 
			and contrasenia = (HASHBYTES('SHA2_256', CONVERT(varbinary(255), @contrasenia_actual)))
	)
	BEGIN		
		set @estado = 1;
		return;
	END;

    update Usuario 
    set 
		contrasenia = (HASHBYTES('SHA2_256', CONVERT(varbinary(255), @contrasenia_nueva))) 
	where @nombre_usuario = @nombre_usuario;
   
    --Establecer el estado cero que es el que indica que no hay errores
    set @estado = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_modificar_usuario_contrasenia_por_admin]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_modificar_usuario_contrasenia_por_admin]
	@id_usuario_edita bigint,
    @nombre_usuario nchar(100),
	@contrasenia_nueva nchar(300),
	@estado tinyint output
AS
BEGIN      
    --Verificar que el usuario que va a editar las credenciales exista y sea administrador
	IF NOT EXISTS(
		Select * 
		from Usuario
		where id_usuario = @id_usuario_edita 
			and id_tipo_usuario = 1
	)
	BEGIN		
		set @estado = 1;
		return;
	END;

	--Verificar que el usuario a editar exista según el nombre específicado
	IF NOT EXISTS(
		Select * 
		from Usuario 
		where nombre_usuario = @nombre_usuario 
	)
	BEGIN		
		set @estado = 2;
		return;
	END;

    update Usuario 
    set 
		contrasenia = (HASHBYTES('SHA2_256', CONVERT(varbinary(255), @contrasenia_nueva))) 
	where nombre_usuario = @nombre_usuario;
   
    --Establecer el estado cero que es el que indica que no hay errores
    set @estado = 0;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_buscar_cliente]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[sp_paginacion_buscar_cliente]
@numero_pagina int,
@numero_elementos int,
@xml_filtros_busqueda xml
as 
begin
	declare @offset int;
	declare @texto_buscar varchar(100);
	declare @campo_busqueda varchar(20);

	--Obtener los filtros de búsqueda recibidos por el xml
	Select
		@campo_busqueda = rtrim(coalesce(Filtros.value('(campo_busqueda/text())[1]', 'VARCHAR(20)'), '')),
		@texto_buscar = rtrim(coalesce(Filtros.value('(texto_buscar/text())[1]', 'VARCHAR(100)'), ''))
	from @xml_filtros_busqueda.nodes('Filtros') as T(Filtros);

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;
	
	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	Select 
		c.ID_PERSONA as id_cliente, c.CEDULA_PERSONA as cedula_cliente,
		rtrim(c.APELLIDOS_PERSONA) as apellidos, rtrim(c.NOMBRES_PERSONA) as nombres
	from Persona as c	
	where (
			(@campo_busqueda = 'cedula_cliente' and c.CEDULA_PERSONA like '%' + @texto_buscar + '%') or 			
			(@campo_busqueda = 'cliente'	and 
				concat(rtrim(c.APELLIDOS_PERSONA), ' ', RTRIM(c.NOMBRES_PERSONA)) like '%' + @texto_buscar + '%') or
			(@campo_busqueda = 'nombres'	and 
				RTRIM(c.NOMBRES_PERSONA) like '%' + @texto_buscar + '%') or
			(@campo_busqueda = 'apellidos'	and 
				rtrim(c.APELLIDOS_PERSONA) like '%' + @texto_buscar + '%')
		) 
	order by c.APELLIDOS_PERSONA, c.NOMBRES_PERSONA	
	offset @offset rows
	fetch next @numero_elementos rows only;
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_buscar_empleado]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[sp_paginacion_buscar_empleado]
@numero_pagina int,
@numero_elementos int,
@xml_filtros_busqueda xml
as 
begin
	declare @offset int;
	declare @texto_buscar varchar(100);
	declare @campo_busqueda varchar(20);

	--Obtener los filtros de búsqueda recibidos por el xml
	Select
		@campo_busqueda = rtrim(coalesce(Filtros.value('(campo_busqueda/text())[1]', 'VARCHAR(20)'), '')),
		@texto_buscar = rtrim(coalesce(Filtros.value('(texto_buscar/text())[1]', 'VARCHAR(100)'), ''))
	from @xml_filtros_busqueda.nodes('Filtros') as T(Filtros);

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;
	
	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	Select 
		e.id_empleado, p.CEDULA_PERSONA as cedula_empleado,
		rtrim(p.APELLIDOS_PERSONA) as apellidos, rtrim(p.NOMBRES_PERSONA) as nombres,
		p.FECHA_NACIMIENTO_PERSONA as fecha_nacimiento_empleado
	from Empleado as e 
	inner join  persona  p on p.ID_PERSONA = e.ID_PERSONA_EMPLEADO   
	where (
			(@campo_busqueda = 'cedula_empleado' and p.CEDULA_PERSONA like '%' + @texto_buscar + '%') or 			
			(@campo_busqueda = 'empleado'	and 
				concat(rtrim(p.APELLIDOS_PERSONA), ' ', RTRIM(p.NOMBRES_PERSONA)) like '%' + @texto_buscar + '%') or
			(@campo_busqueda = 'nombres' and RTRIM(p.NOMBRES_PERSONA) like '%' + @texto_buscar + '%') or 	
			(@campo_busqueda = 'apellidos' and RTRIM(p.APELLIDOS_PERSONA) like '%' + @texto_buscar + '%')
		) 
	order by e.id_empleado
	offset @offset rows
	fetch next @numero_elementos rows only;
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_buscar_facturas]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE     procedure [dbo].[sp_paginacion_buscar_facturas]
@numero_pagina int,
@numero_elementos int,
@xml_filtros_busqueda xml
as
begin
	declare @offset int;
	declare @texto_buscar varchar(100);
	declare @campo_busqueda varchar(20);
	declare @fecha_inicio datetime, @fecha_fin datetime;

	--Obtener los filtros de búsqueda recibidos por el xml
	Select
		@campo_busqueda = rtrim(coalesce(Filtros.value('(campo_busqueda/text())[1]', 'VARCHAR(20)'), '')),
		@texto_buscar = rtrim(coalesce(Filtros.value('(texto_buscar/text())[1]', 'VARCHAR(100)'), '')),
		@fecha_inicio = (Filtros.value('(fecha_inicio/text())[1]', 'DATETIME')),
		@fecha_fin = (Filtros.value('(fecha_fin/text())[1]', 'DATETIME')) 
	from @xml_filtros_busqueda.nodes('Filtros') as T(Filtros);

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;

	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;


	--Consulta que considera los filtros de búsqueda
	Select 
		f.id_factura, 
		f.ID_PERSONA as id_cliente, RTRIM(c.APELLIDOS_PERSONA) as apellidos_cliente, RTRIM(c.NOMBRES_PERSONA) as nombres_cliente,
		e.id_empleado, RTRIM(v.APELLIDOS_PERSONA) as apellidos_empleado, RTRIM(v.NOMBRES_PERSONA) as nombres_empleado,
		f.fecha_factura,
		f.subtotal_factura, f.total_factura
	from Factura as f
		inner join Persona as c on f.ID_PERSONA = c.ID_PERSONA
		inner join Empleado as e on e.id_empleado = f.id_empleado
		inner join  Persona as v on v.ID_PERSONA = e.ID_PERSONA_EMPLEADO
	where ((
		(@campo_busqueda = 'id_cliente' and f.ID_PERSONA like '%' + @texto_buscar + '%') or 
		(@campo_busqueda = 'id_factura' and f.id_factura like	'%' + @texto_buscar + '%') or 
		(@campo_busqueda = 'cliente'	and 
			concat(rtrim(c.APELLIDOS_PERSONA), ' ', RTRIM(c.NOMBRES_PERSONA)) like '%' + @texto_buscar + '%')			
		) or 
		(@campo_busqueda = 'empleado'	and 
			concat(rtrim(v.APELLIDOS_PERSONA), ' ', RTRIM(v.NOMBRES_PERSONA)) like '%' + @texto_buscar + '%'
		)	)		 
		and (
			CAST(f.fecha_factura as date) >= @fecha_inicio 
			and CAST(f.fecha_factura as date) <= @fecha_fin
		)
	order by f.id_factura
	offset @offset rows
	fetch next @numero_elementos rows only;

	/*
	Select 
		f.id_factura, 
		f.id_cliente, RTRIM(c.apellidos_cliente) as apellidos, RTRIM(c.nombres_cliente) as nombre,
		f.fecha_factura,
		f.subtotal_factura, f.total_factura
	from Factura as f
		inner join Cliente as c on f.id_cliente = c.id_cliente
	where 
		(
			f.id_cliente like '%' + @texto_buscar + '%'
			or c.apellidos_cliente  like '%' + @texto_buscar + '%'
			or c.nombres_cliente  like '%' + @texto_buscar + '%'
		) and (
			f.fecha_factura >= @fecha_inicio 
			and f.fecha_factura <= @fecha_fin
		)
	order by f.id_factura
	offset @offset rows
	fetch next @numero_elementos rows only;
	*/
	/*Select 
		f.id_factura, 
		f.id_cliente, RTRIM(c.apellidos) as apellidos, RTRIM(c.nombres) as nombre,
		f.fecha_factura,
		f.subtotal_factura, f.total_factura
	from Factura as f
		inner join Cliente as c on f.id_cliente = c.id_cliente
	where 
		f.id_cliente like '%' + @texto_buscar + '%'
		or c.apellidos like '%' + @texto_buscar + '%'
		or c.nombres like '%' + @texto_buscar + '%'
	order by f.id_factura
	--offset (@numero_pagina - 1) * @numero_elementos rows
	offset @offset rows
	fetch next @numero_elementos rows only;*/
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_buscar_producto]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[sp_paginacion_buscar_producto]
@numero_pagina int,
@numero_elementos int,
@xml_filtros_busqueda xml
as 
begin
	declare @offset int;
	declare @texto_buscar varchar(100);
	declare @campo_busqueda varchar(20);

	--Obtener los filtros de búsqueda recibidos por el xml
	Select
		@campo_busqueda = rtrim(coalesce(Filtros.value('(campo_busqueda/text())[1]', 'VARCHAR(20)'), '')),
		@texto_buscar = rtrim(coalesce(Filtros.value('(texto_buscar/text())[1]', 'VARCHAR(100)'), ''))
	from @xml_filtros_busqueda.nodes('Filtros') as T(Filtros);

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;

	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	Select 
		p.id_producto as id, rtrim(p.nombre_producto) as nombre, p.ID_PROVEEDOR as id_proveedor,

		p.precio_unitario as precio_unitario, p.iva_producto as iva
	from Producto as p inner join 	Proveedor e on e.ID_PROVEEDOR =  p.ID_PROVEEDOR
		inner join Persona as c on c.ID_PERSONA =   e.ID_PERSONA_PROVEEDOR

	where (
		(@campo_busqueda = 'id_producto' and p.id_producto like '%' + @texto_buscar + '%') or
		(@campo_busqueda = 'nombre_producto' and rtrim(p.nombre_producto) like '%' + @texto_buscar + '%') or
		(@campo_busqueda = 'iva_producto' and p.iva_producto like '%' + @texto_buscar + '%') or
				(@campo_busqueda = 'proveedor' and rtrim(c.NOMBRES_PERSONA) + ' ' + rtrim(c.APELLIDOS_PERSONA)  like '%' + @texto_buscar + '%') 

	)
	order by id_producto 
	--offset (@numero_pagina - 1) * @numero_elementos rows
	offset @offset rows
	fetch next @numero_elementos rows only;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_buscar_proveedor]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[sp_paginacion_buscar_proveedor]
@numero_pagina int,
@numero_elementos int,
@xml_filtros_busqueda xml
as 
begin
	declare @offset int;
	declare @texto_buscar varchar(100);
	declare @campo_busqueda varchar(20);

	--Obtener los filtros de búsqueda recibidos por el xml
	Select
		@campo_busqueda = rtrim(coalesce(Filtros.value('(campo_busqueda/text())[1]', 'VARCHAR(20)'), '')),
		@texto_buscar = rtrim(coalesce(Filtros.value('(texto_buscar/text())[1]', 'VARCHAR(100)'), ''))
	from @xml_filtros_busqueda.nodes('Filtros') as T(Filtros);

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;
	
	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	Select 
			p.ID_PERSONA  as id_persona, 

			e.id_proveedor as id, p.CEDULA_PERSONA as cedula,
		rtrim(p.APELLIDOS_PERSONA) as apellidos, rtrim(p.NOMBRES_PERSONA) as nombres,
		e.EMAIL as email 
	from Proveedor as e inner join persona p on p.ID_PERSONA  =   e.ID_PERSONA_PROVEEDOR
	where (
			(@campo_busqueda = 'cedula' and p.CEDULA_PERSONA like '%' + @texto_buscar + '%') or 			
			(@campo_busqueda = 'proveedor'	and 
				concat(rtrim(p.NOMBRES_PERSONA), ' ', RTRIM(p.APELLIDOS_PERSONA)) like '%' + @texto_buscar + '%') or
			(@campo_busqueda = 'nombres' and RTRIM(p.NOMBRES_PERSONA) like '%' + @texto_buscar + '%') or 	
			(@campo_busqueda = 'apellidos' and RTRIM(p.APELLIDOS_PERSONA) like '%' + @texto_buscar + '%') or
			(@campo_busqueda = 'email' and RTRIM(e.email) like '%' + @texto_buscar + '%') 
		) 
	order by p.APELLIDOS_PERSONA , p.NOMBRES_PERSONA 
	offset @offset rows
	fetch next @numero_elementos rows only;
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_buscar_usuario]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[sp_paginacion_buscar_usuario]
@numero_pagina int,
@numero_elementos int,
@xml_filtros_busqueda xml
as
begin
	declare @offset int;
	declare @texto_buscar varchar(100);
	declare @campo_busqueda varchar(20);

	--Obtener los filtros de búsqueda recibidos por el xml
	Select
		@campo_busqueda = rtrim(coalesce(Filtros.value('(campo_busqueda/text())[1]', 'VARCHAR(20)'), '')),
		@texto_buscar = rtrim(coalesce(Filtros.value('(texto_buscar/text())[1]', 'VARCHAR(100)'), ''))
	from @xml_filtros_busqueda.nodes('Filtros') as T(Filtros);

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;

	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	select 
		u.id_usuario, 
		rtrim(p.NOMBRES_PERSONA) as nombres_usuario, 
		rtrim(p.APELLIDOS_PERSONA) as apellidos_usuario, 
		p.FECHA_NACIMIENTO_PERSONA as fecha_nacimiento_usuario,
		t.TIPO_USUARIO, rtrim(u.NOMBRE_USUARIO) as usuario, 
		u.activo 
	from Usuario u inner join  Empleado e on e.ID_USUARIO = u.ID_USUARIO 
	inner join  persona p on p.ID_PERSONA = e.ID_PERSONA_EMPLEADO
	inner join TipoUsuario t on t.ID_TIPO_USUARIO = u.ID_TIPO_USUARIO 
	where (
			(@campo_busqueda = 'id_usuario' and u.id_usuario like '%' + @texto_buscar + '%') or
			(@campo_busqueda = 'usuario' and u.NOMBRE_USUARIO like '%' + @texto_buscar + '%') or
			(@campo_busqueda = 'rol' and t.TIPO_USUARIO like '%' + @texto_buscar + '%') or 
			(@campo_busqueda = 'nombres_usuario'	and 
				concat(rtrim(p.APELLIDOS_PERSONA), ' ', RTRIM(p.NOMBRES_PERSONA)) like '%' + @texto_buscar + '%')			
	) 
	order by p.APELLIDOS_PERSONA,p.NOMBRES_PERSONA  
	offset @offset rows
	fetch next @numero_elementos rows only;
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_listar_clientes]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[sp_paginacion_listar_clientes]
@numero_pagina int,
@numero_elementos int
as
begin
	declare @offset int;

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;
	
	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	
	Select 
		c.ID_PERSONA  as ID, c.CEDULA_PERSONA as cedula_cliente,
		rtrim(c.APELLIDOS_PERSONA ) as Apellidos, rtrim(c.NOMBRES_PERSONA) as Nombres	
	from Persona as c
	order by c.APELLIDOS_PERSONA , c.NOMBRES_PERSONA 
	--offset (@numero_pagina - 1) * @numero_elementos rows
	offset @offset rows
	fetch next @numero_elementos rows only;
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_listar_empleados]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create   procedure [dbo].[sp_paginacion_listar_empleados]
@numero_pagina int,
@numero_elementos int
as
begin
	declare @offset int;

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;

	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	select 
		e.id_empleado, 
		p.CEDULA_PERSONA as cedula_empleado,
		rtrim(p.APELLIDOS_PERSONA) as apellidos_empleado, 
		rtrim(p.NOMBRES_PERSONA) as nombres_empleado, 
		p.FECHA_NACIMIENTO_PERSONA as fecha_nacimiento_empleado		
	from Empleado as e inner join persona p on p.ID_PERSONA = e.ID_PERSONA_EMPLEADO 
	order by e.id_empleado
	offset @offset rows
	fetch next @numero_elementos rows only;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_listar_facturas]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[sp_paginacion_listar_facturas]
@numero_pagina int,
@numero_elementos int
as
begin
	declare @offset int;
	
	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;

	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	Select 
		f.id_factura, 
		f.ID_PERSONA as id_cliente , RTRIM(c.APELLIDOS_PERSONA) as apellidos_cliente, RTRIM(c.NOMBRES_PERSONA) as nombres_cliente,
		e.id_empleado, RTRIM(v.APELLIDOS_PERSONA) as apellidos_empleado, RTRIM(v.NOMBRES_PERSONA) as nombres_empleado,
		f.fecha_factura,
		f.subtotal_factura, f.total_factura
	from Factura as f
		inner join Persona as c on f.ID_PERSONA = c.ID_PERSONA
		inner join Empleado as e on f.id_empleado = e.id_empleado
		inner join Persona as v on e.ID_PERSONA_EMPLEADO = v.ID_PERSONA

	order by f.id_factura
	--offset (@numero_pagina - 1) * @numero_elementos rows
	offset @offset rows
	fetch next @numero_elementos rows only;
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_listar_productos]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[sp_paginacion_listar_productos]
@numero_pagina int,
@numero_elementos int
as
begin
	declare @offset int;

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;

	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	Select 
		p.id_producto as id, rtrim(p.nombre_producto) as nombre, p.ID_PROVEEDOR as id_proveedor,

		p.precio_unitario as precio_unitario, p.iva_producto as iva
	from Producto as p 

	order by  p.nombre_producto 
	--offset (@numero_pagina - 1) * @numero_elementos rows
	offset @offset rows
	fetch next @numero_elementos rows only;
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_paginacion_listar_proveedor]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[sp_paginacion_listar_proveedor]
@numero_pagina int,
@numero_elementos int
as
begin
	declare @offset int;

	--Validar, si ingresa un número negativo regresar a la primera página
	if @numero_pagina < 1 set @numero_pagina = 1;
	
	--Calcular el número de registros que deben ignorarse
	--Puesto que la cantidad de registros recibidos contiene un elemento adicional
	--Es necesario restar 1 al registro inicial de la paginación
	set @offset = @numero_elementos *  (@numero_pagina - 1) + 
		case when (@numero_pagina - 1) = 0 
			then 0 
			else -(@numero_pagina - 1) 
		end;

	
	Select 
		p.ID_PERSONA  as id_persona, 
		c.id_proveedor as id , p.CEDULA_PERSONA as cedula,
		rtrim(p.APELLIDOS_PERSONA) as apellidos, rtrim(p.NOMBRES_PERSONA) as nombre, c.EMAIL as email
	from Proveedor as c inner join persona p on p.ID_PERSONA = c.ID_PERSONA_PROVEEDOR 
	order by p.APELLIDOS_PERSONA , p.NOMBRES_PERSONA
	--offset (@numero_pagina - 1) * @numero_elementos rows
	offset @offset rows
	fetch next @numero_elementos rows only;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_rp_get_factura]    Script Date: 05/09/2024 11:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   procedure [dbo].[sp_rp_get_factura]
    @id_factura int
as
begin
    DECLARE @xmlResult XML;

    SET @xmlResult = (
        SELECT 
            --Encabezado de la factura
            (
                SELECT 
                    f.id_factura AS 'Id_factura', 
                    c.CEDULA_PERSONA AS 'Cedula_cliente',
                    RTRIM(c.APELLIDOS_PERSONA) as 'Apellidos_cliente', 
                    RTRIM(c.NOMBRES_PERSONA) as 'Nombres_cliente',
					RTRIM(v.APELLIDOS_PERSONA) as 'Apellidos_empleado', 
                    RTRIM(v.NOMBRES_PERSONA) as 'Nombres_empleado',
                    convert(date, f.fecha_factura) AS 'Fecha', 
                    convert(decimal, f.subtotal_factura) AS 'Subtotal', 
                    f.total_factura AS 'Total'
                FROM Factura as f
                INNER JOIN Persona as c ON f.ID_PERSONA = c.ID_PERSONA
				INNER JOIN Empleado as e ON f.id_empleado = e.id_empleado
				INNER JOIN Persona as v ON e.ID_PERSONA_EMPLEADO =  v.ID_PERSONA

                WHERE f.id_factura = @id_factura
                FOR XML PATH('Encabezado'), TYPE
            ),
            --Detalles de la factura
            (
                SELECT
                    df.id_detalle_factura AS 'Id_factura_detalle',
                    df.id_producto AS 'Id_producto',
                    RTRIM(p.nombre_producto) as 'Nombre_producto',
                    df.cantidad AS 'Cantidad',
                    convert (decimal(10,2), (df.precio_unitario_detalle + (df.precio_unitario_detalle * df.iva_detalle/100))) AS 'Precio',
                    convert (decimal(10,2) ,ROUND(df.total_detalle, 2)) AS 'Total'
                FROM Detallefactura as df
                INNER JOIN Producto as p ON df.id_producto = p.id_producto
                WHERE df.id_factura = @id_factura
                FOR XML PATH('Detalle'), TYPE, ROOT('Detalle')
            ),
            --Totales agrupados por IVA
            (
                SELECT iva_detalle AS 'IVA', SUM(total_detalle - subtotal_detalle) as 'Total'
                FROM Detallefactura
                WHERE id_factura = @id_factura
                GROUP BY iva_detalle
                FOR XML PATH('DetalleIVA'), TYPE, ROOT('Impuestos')
            )
        FOR XML PATH('Factura'), TYPE, ELEMENTS
    );

    SELECT @xmlResult;
end;
GO
USE [master]
GO
